/*
 *= require_tree .
 *= require_self
 */

body {
	 font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}



 .table1 {
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
}

.logo-start {
  font-weight: bold;
  padding-left: 10px;
}

.logo-end {
  font-weight: bold;
  color: turquoise;
}

h1 {
  margin: 15px;
}

.block-bar {
  background-color: grey;
  padding: 15px;
}

.bar {
  font-size: 16px;
  /*font-weight: bold;*/
  color: white;
  letter-spacing: 2px;
  margin-right: 50px;
  margin-left: 50px;
  text-decoration: none;
}

.boxed {
  background-color: lightgrey;
  border-right: 100px solid lightgrey;
  border-left: 100px solid lightgrey;
  margin-left: 100px;
  margin-right: 100px;
}

body {
  margin-top: 10px;
}

.container {
  padding-top: 150px;
}

.hidden {
  display: none;
}

.icons {
  margin-right: 5px;
  margin-left: 10px;
}

.light-grey-box {
  color: grey;
  background-color: #EEE;
  border-top: 5px solid white;
}

.bootstrap-blue{
  color: #337ab7;
}

