

<table width=100% class="table1">
  <tr>
    <td>
      <h1 class="logo-start">TASK 
<span class="logo-end">IT</span>
</h1>
      </span>
    </td>

    <td>
      <p class="navbar-text block-bar navbar-right">
        <a href="#" class="bar projects">Projects</a>
        <span><a href="#" class="bar clients">Clients</a></span>
        <span><a href="#" class="bar teammates">Team Mates</a></span>
        <span><a href="#" class="bar contacts">Contacts</a>
  </span>
    </td>

  </tr>
</table>


<body>
  <div class="boxed container">

<!-- calendar -->
      <div class="calendar-content-box">Calendar</div>


<!-- projects -->
     <div class="projects-content-box hidden">

     <div> Number of Projects: <%= Project.all.count%></div>

     <ul class="list-group">
     <% @projects.each do |project| %>
     <li class="list-group-item"><%= project.name %></li>
     <%end%>
     </ul>

     </div>

<!-- clients -->
     <div class="clients-content-box hidden">
     Clients:
     </div>

<!-- team mates -->
     <div class="team-mates-content-box hidden">
     Team mates:
     </div>

<!-- contacts -->
     <div class="contacts-content-box hidden">
     Contacts:
     </div>
     
  </div>