

<table width=100% class="table1">
  <tr>
    <td>
      <h1 class="logo-start">TASK 
<span class="logo-end">IT</span>
</h1>
      </span>
    </td>

    <td>
      <p class="navbar-text block-bar navbar-right">
        <a href="#" class="bar projects">Projects</a>
        <span><a href="#" class="bar clients">Clients</a></span>
        <span><a href="#" class="bar teammates">Team Mates</a></span>
        <span><a href="#" class="bar contacts">Contacts</a>
  </span>
    </td>

  </tr>
</table>


<body>
  <div class="boxed container">
      <div class="calendar-content-box">Calendar</div>

     <div class="projects-content-box hidden">
     <div> Projects: </div>

     <div> Number of Projects: <%= Project.all.count%></div>

     <div> list of Projects: </div>
     <% @projects.each do |project| %>
     <div><%= project.name %></div>
     <%end%>
  
     </div>

     <div class="clients-content-box hidden">
     Clients:
     </div>

     <div class="team-mates-content-box hidden">
     Team mates:
     </div>

     <div class="contacts-content-box hidden">
     Contacts:
     </div>
     
  </div>